/* Layout & Grid */
.content-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

/* Blog Container */
.blog-container {
    display: grid;
    gap: 20px;
    background: var(--background-dark-glass);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    border: 1px solid var(--border-color);
    padding: 2rem;
}
