/* Main Stylesheet - Imports all modular CSS files */

/* 1. Variables & Base */
@import url('css/variables.css');
@import url('css/base.css');
@import url('css/animations.css');

/* 2. Layout & Structure */
@import url('css/layout.css');
@import url('css/header.css');
@import url('css/sidebar.css');

/* 3. Components */
@import url('css/blog-posts.css');
@import url('css/modal.css');
@import url('css/auth.css');
@import url('css/single-post.css');
@import url('css/footer.css');

/* 4. Responsive */
@import url('css/responsive.css');
